<a href="https://colab.research.google.com/github/matovubasahir/Matovu_/blob/main/Acc_class_Homework_26th_April.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# How do you add an element to a set?

my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}



How does a set differ from a list?

A set is a collection that does not allow duplicates while a list is a colletionthat allows duplicate items.

Sets do not keep order as items may appear in a different order each time you look at them while Lists keep the order of the items as added.

Sets can be accessed by position which is not the case for lists.

Lists are slower for membership tests while sets faster for membership tests.

Sets supports indexing and slicing bu sets	do not support indexing or slicing.

In [4]:
 # What is the result of set set[1,2,1,4,2,4,1]
set([1,2,1,4,2,4,1])

{1, 2, 4}

In [5]:
# What is the result of len
len(set([1,2,1,4,2,4,1]))

3

In [6]:
#the set.union brings out all the members in all sets without repeating the common ones.
# 5 Given:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set3 = set1.union(set2)
print(set3)

{70, 40, 10, 50, 20, 60, 30}

In [7]:

#the symmetric_diffence returns a new set containing elements that are in either set1 or set2 but not in both.
# 6 Given:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set3 =set1.symmetric_difference(set2)
print(set3)

{20, 70, 10, 60}

In [8]:
# The symmetric_difference_update enriches set manipulation by providing in-place updates that help maintain only unique elements from involved sets.
# 7 Given:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

# The symmetric_difference_update enriches set manipulation by providing in-place updates that help maintain only unique elements from involved sets.


#the symmetric_diffence returns a new set containing elements that are in either set1 or set2 but not in both.